file.exe
json.exe
main.exe
provider.exe
video.exe
tools.exe
settings.dat
test.jpg
ai.txt
ai.txt
wmcreate.exe
libvlc/
plugins/
.vscode/
a.jpg
kanon-2006.jpg
connections.exe
tests.exe
debug_dango.exe
connections.o
file.o
json.o
main.o
provider.o
video.o
wmcreate.o
dango.exe